body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #383939;
}

#menu {
    position: fixed;
    width: 100%;
}

.quem-somos {
    background-color: #149c68;
    color: white;
}

.margin {
    padding-top: 60px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #38c958;
}

.bg-footer {
    background-color: #383939;
    color: white;
}

h3 {
    padding-top: 15px
}
